@model HomeModel
@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <h2 class="display-8">@Model.SubTitle</h2>

    <p>@Model.ConnectionString</p>
</div>
