@{
    ViewData["Title"] = @ViewBag.Title;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <h2 class="display-8">@ViewBag.SubTitle</h2>

    <p>@ViewBag.ConnectionString</p>
</div>
